<!--Header Section-->
<div style="background-color: lightblue">
    <mat-grid-list cols="3" rowHeight="6:1">
        <mat-grid-tile>
            <img src="./assets/ui_logo.png" style="max-width: 70px; margin-top: 10px;" />
        </mat-grid-tile>
        <mat-grid-tile>
            <h2>{{translator("header")}}</h2></mat-grid-tile
        >
        <mat-grid-tile> </mat-grid-tile>
        <mat-grid-tile> </mat-grid-tile>
        <mat-grid-tile> </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="clickRestart()">
                {{ translator("newStart") }}
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div style="background-color: aliceblue" class="textbox" >
    <h2>{{translator("thankYou")}}</h2>
    <p>
        {{translator("weThank")}}
    </p>
    <p>
        {{translator("yourData")}}
    </p>
    <p>
        {{translator("questions")}}
    </p>
    <p>{{translator("thanksAgain")}}</p>
    <p>{{translator("team")}}</p>
</div>

