<!--Header Section-->
<div style="background-color: lightblue">
    <mat-grid-list cols="3" rowHeight="6:1">
        <mat-grid-tile>
            <img src="./assets/ui_logo.png" style="max-width: 70px; margin-top: 10px;" />
        </mat-grid-tile>
        <mat-grid-tile>
            <h2 *ngIf="language === Language.GERMAN">Danksagung</h2>
            <h2 *ngIf="language === Language.ENGLISH">Acknowledgement</h2></mat-grid-tile
        >
        <mat-grid-tile> </mat-grid-tile>
        <mat-grid-tile> </mat-grid-tile>
        <mat-grid-tile> </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="clickRestart()">
                {{ language === Language.GERMAN ? "Studie neustarten" : "Restart Study" }}
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<!--ENGLISH-->
<div style="background-color: aliceblue" class="textbox" *ngIf="language === Language.ENGLISH">
    <h2>Thank you for your participation and commitment to this research!</h2>
    <p>
        We would like to thank you very much for taking part in our study. Your participation is extremely valuable to
        us and helps us to gain important insights.
    </p>
    <p>
        Your data has been carefully collected and will be treated confidentially. We will use your information
        exclusively for scientific purposes and will not pass it on to third parties.
    </p>
    <p>
        If you have any further questions or would like to find out more about the study, please feel free to contact
        us. Your opinion and feedback are important to us.
    </p>
    <p>Thank you again for your participation!</p>
    <p>The research team</p>
</div>
<!--GERMAN-->
<div style="background-color: aliceblue" class="textbox" *ngIf="language === Language.GERMAN">
    <h2>Vielen Dank für Ihre Teilnahme!</h2>
    <p>
        Wir möchten uns herzlich bei Ihnen bedanken, dass Sie an unserer Studie teilgenommen haben. Ihre Teilnahme ist
        für uns äußerst wertvoll und hilft uns, wichtige Erkenntnisse zu gewinnen.
    </p>
    <p>
        Ihre Daten wurden sorgfältig erfasst und werden vertraulich behandelt. Wir verwenden Ihre Informationen
        ausschließlich für wissenschaftliche Zwecke und werden sie nicht an Dritte weitergeben.
    </p>
    <p>
        Falls Sie weitere Fragen haben oder mehr über die Studie erfahren möchten, können Sie uns gerne kontaktieren.
        Ihre Meinung und Ihr Feedback sind uns wichtig.
    </p>
    <p>Vielen Dank nochmals für Ihre Teilnahme!</p>
    <p>Das Forschungsteam</p>
</div>
