<!-- Intro-page -->
<div *ngIf="showIntroPage" style="background-color: aliceblue; padding: 3rem 1rem; text-align: center;">
    <!-- Logos -->
    <div style="display: flex; justify-content: center; align-items: center; gap: 3rem; flex-wrap: wrap; margin-bottom: 2rem;">
        <img src="./assets/ui_logo.png" alt="Logo 1" style="max-height: 100px;" />
        <span></span>
        <img src="./assets/UDE_logo.png" alt="Logo 3" style="max-height: 80px;" />
        <span></span>
        <img src="./assets/Logo-Hildesheim.png" alt="Logo 2" style="max-height: 90px;" />
    </div>

    <!-- Welcome text -->
    <h1 style="font-size: 2.8rem; color: #003366; margin-bottom: 1rem; margin-top: 5rem;">
        {{ chosenLanguage === Language.GERMAN ? "Willkommen" : "Welcome" }}
    </h1>

    <p style="
        font-size: 2rem;
        line-height: 1.2;
        max-width: 1500px;
        margin: 4rem auto 4rem auto;
        text-align: center;
    "
    [innerHTML]="chosenLanguage === Language.GERMAN
        ? 'Vielen Dank für Ihr Interesse.<br><br>Diese Studie erforscht, wie gut man Tabellen-Programme mit Sprache oder über Skizzieren steuern könnte.<br>' +
         'Klicken Sie unten auf den Button, um mehr zu erfahren.'
        : 'Thank you for your interest.<br><br>This study explores how well spreadsheet programs can be controlled using speech or sketches.<br>' +
         'Click the button below to learn more.'">
    </p>


    <button mat-raised-button color="primary" (click)="clickChangeLanguage()">
                    {{ chosenLanguage === Language.GERMAN ? "Switch to English" : "Switch to German" }}
                </button>
    <span style="display: inline-block; width: 3rem;"></span>
    <!-- go to consent form -->
    <button mat-raised-button color="primary" style="font-size: 1.1rem; padding: 0.6rem 2rem;" (click)="showIntroPage = false">
        {{ chosenLanguage === Language.GERMAN ? "Weiter zur Einwilligungserklärung" : "Continue to Consent Form" }}
    </button>
</div>

<!-- Consent form -->
<!--TODO update text -->
<div *ngIf="!showIntroPage">
    <!--Header Section-->
    <div style="background-color: lightblue">
        <mat-grid-list cols="3" rowHeight="6:1">
            <mat-grid-tile>
                <img src="./assets/ui_logo.png" style="max-width: 70px; margin-top: 10px;"  />
            </mat-grid-tile>
            <mat-grid-tile>
                <h2 *ngIf="chosenLanguage === Language.GERMAN" class="pt">
                    Einwilligung zur Teilnahme an einer Elicitation-Studie
                </h2>
                <h2 *ngIf="chosenLanguage === Language.ENGLISH" class="pt">
                   Consent to Participate in an Elicitation Study
                </h2></mat-grid-tile
            >
            <mat-grid-tile>
                <img src="./assets/UDE_logo.png" style="max-width: 90px; margin-top: 10px;"  />
            </mat-grid-tile>

            <mat-grid-tile
                ><button mat-raised-button color="primary" (click)="clickChangeLanguage()">
                    {{ chosenLanguage === Language.GERMAN ? "Switch to English" : "Switch to German" }}
                </button>
            </mat-grid-tile>
            <mat-grid-tile> </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button color="primary" (click)="clickNextPage()">
                    {{ chosenLanguage === Language.GERMAN ? "Nächste Seite" : "Next Page" }}
                </button>
            </mat-grid-tile>

        </mat-grid-list>
    </div>
    <!--ENGLISH-->
    <div style="background-color: aliceblue" class="textbox" *ngIf="chosenLanguage === Language.ENGLISH">
        <p class="pt" >
            Please read the following information carefully and sign this form if you would like to participate in this
            experiment. You can request a copy of the form if you wish.
        </p>
        <h2>Purpose of the Research</h2>
        <p>
            This research project aims to investigate how users interact with spreadsheets by sketching and
            speaking commands as an alternative to traditional input methods, such as the mouse and keyboard.
            The findings from this study may contribute to the design and development of novel interaction
            techniques for spreadsheets.
        </p>
        <h2>Implementation of the Experiment</h2>
        <p>
            You will receive a tablet with a touchscreen and a digital pen. The researcher will show you several
            pairs of screenshots showing a spreadsheet before and after a simulated operation. Once you have
            recognized an operation, please use the pen to draw and/or speak your command. The researcher
            will show you two examples at first and explain how to execute the tasks. Afterwards you will be
            asked to continue on your own. After each prompt, you will be able to give feedback on how
            difficult you found the task. The experiment will take about 30 minutes. Afterwards, the researcher
            will ask some demographic questions about yourself and your experience.
        </p>
        <h2>Collected Data and Confidentiality</h2>
        <p>
            In this study, we will collect the following data:
            <br />
            • A screen recording and digital ink of your pen strokes on the screen
            <br />
            • A digital recording of your voice, including any commands, comments, or conversations that occur during the experiment.
            <br />
            • Feedback and demographic data
            <br />
            <br />
            The recordings and digital ink of your pen strokes will be used as the primary source of information
            for analyzing how different participants express spreadsheet commands using digital ink and voice
            commands. Artificial intelligence tools may be used to support the transcription of the audio
            recordings. The feedback data will be used to provide context on the participants' user experience.
            The demographic data will be used to analyze the characteristics of our participant pool, in order to
            avoid a sampling bias.
            <br />
            <br />
            All data collected during the experiment will be anonymized (i.e. associated with a neutral
            identification number instead of your name and affiliation), so it is not traceable to you or your
            organization. Parts of the anonymized data (audio data only in transcribed form without your voice)
            may be published in individual or aggregate form.
        </p>
        <h2>Refusal or Withdrawal</h2>
        <p>
            You have the right to refuse to participate in this study or to withdraw your participation at any time without
            giving a reason, and without incurring any negative consequences. Data collected before your withdrawal may be
            used with your consent. Once the research is complete, you may not forbid the use of data or demand that it be
            destroyed.
        </p>
        <h2>Incentives</h2>
        <p>There are no rewards, payments, prizes or other incentives for participation.</p>
        <h2>Contact Information</h2>
        <p>
            The principal investigators for this research project are
            <br />
            • Dr. Matthias Book, professor at the Department of
            Computer Science at the University of Iceland (book@hi.is),
            <br />
            • Dr. Marc Hesenius, post-doctoral researcher at
            the Engineering Interactive Applications Chair of the University of Hildesheim, Germany (hesenius@uni-hildesheim.de),
            <br />
            • and Prof. Dr. Volker Gruhn, professor at the Software Engineering Chair of the University
            Duisburg-Essen, Germany (volker.gruhn@uni-due.de).
            <br />
            This study is supported by the Icelandic Research Fund (grant no. 2410725).
            <br />
            <br />
            If you have any questions about the experiment or your participation, please feel free to ask the researchers at
            any time before, during or after the experiment.
        </p>
        <br />
        <br />
    </div>
    <!--GERMAN-->
    <div style="background-color: aliceblue" class="textbox" *ngIf="chosenLanguage === Language.GERMAN">
        <h2 class="pt">Einleitung und Zielsetzung</h2>
        <p>
            Dieses Forschungsprojekt zielt darauf ab, zu untersuchen, wie Nutzer mit Tabellenkalkulationen interagieren,
            indem sie Befehle skizzieren und aussprechen. Dies soll eine Alternative zu herkömmlichen Eingabemethoden wie Maus und
            Tastatur darstellen. Die Ergebnisse dieser Studie könnten zur Gestaltung und Entwicklung neuartiger
            Interaktionstechniken für Tabellenkalkulationen beitragen.
        </p>

        <h2>Durchführung des Experiments</h2>
        <p>
            Sie erhalten ein Tablet mit Touchscreen und einem digitalen Stift. Die Versuchsleitung wird Ihnen mehrere
            Paare von Bildschirmfotos zeigen, die eine Tabellenkalkulation vor und nach einer simulierten Aktion darstellen.
            Sobald Sie eine Aktion erkannt haben, verwenden Sie bitte den Stift, um Ihren Befehl zu zeichnen und/oder sprechen Sie.
            Der Versuchsleiter wird Ihnen zunächst zwei Beispiele zeigen und erklären, wie die Aufgaben zu bearbeiten sind.
            Anschließend werden Sie gebete, selbstständig fortzufahren.
            Nach jeder Aufgabe haben Sie die Möglichkeit, Feedback dazu zu geben, wie schwierig Sie die Aufgabe fanden.
            Das Experiment dauert etwa 30 Minuten.
            Danach wird der Versuchsleiter einige demografische Fragen zu Ihrer Person und Ihrer Erfahrung mit technischen Geräten stellen.
        </p>
        <h2>Art und Dauer der Datenspeicherung</h2>
        <p>
            In dieser Studie werden die folgenden Daten erfasst:
            <br />
            • Ein Bildschirmvideo und Ihre digitalen Stiftstriche auf dem Bildschirm
            <br />
            • Eine digitale Aufzeichnung Ihrer Stimme, einschließlich aller Befehle, Kommentare oder Unterhaltungen, die während des Experiments erfolgen
            <br />
            • Feedback und demografische Daten
            <br />
            <br />
            Als primäre Informationsquelle werden die Audioaufzeichnung der Eingabekommandos und die digitalen Striche
            Ihrer Stiftbewegungen genutzt, um zu analysieren, wie verschiedene Teilnehmer Befehle für
            Tabellenkalkulationsprogramme mit einem Stift und einem Touchscreen und per Sprachkommando ausdrücken.
            Künstliche Intelligenz-Tools können zur Unterstützung der Transkription der Audioaufnahmen eingesetzt werden.
            Die Feedback-Daten werden verwendet, um den Kontext der Benutzererfahrung der Teilnehmer zu ermitteln.
            Die demografischen Daten werden verwendet, um die Charakteristika unserer Teilnehmer zu analysieren und
            somit Stichprobenverzerrungen zu vermeiden.
            <br />
            <br />
            Alle Daten, die während des Experimentes gesammelt werden, werden anonymisiert (d.h. verbunden mit einer
            neutralen Identifikationsnummer anstelle Ihres Namens oder Ihrer Zugehörigkeit), sodass sie nicht rückführbar
            auf Sie oder Ihre Organisation sind.
            Teile der anonymisierten Daten (Audiodaten nur in transkribierter Form ohne Ihre Stimme) können in individueller
            oder zusammengefasster Form veröffentlicht werden.
        </p>
        <h2>Anreize</h2>
        <p>Es gibt keine Belohnungen, Bezahlungen, Preise oder sonstige Anreize für die Teilnahme.</p>
        <h2>Kontaktinformationen</h2>
            <p>
                Die Hauptverantwortlichen für dieses Forschungsprojekt sind
                <br />
                • Dr. Matthias Book, Professor an der Fakultät für Informatik der Universität von Island (book@hi.is),
                <br />
                • Dr. Marc Hesenius, Post-Doc am Lehrstuhl für
                dem Lehrstuhl für Interaktive Ingenieuranwendungen der Universität Hildesheim, Deutschland (hesenius@uni-hildesheim.de),
                <br />
                • und Prof. Dr. Volker Gruhn, Professor am Lehrstuhl Software Engineering der Universität Duisburg-Essen, Deutschland (volker.gruhn@uni-due.de).
                <br />
                Diese Studie wird vom Isländischen Forschungsfond unterstützt (Zuschuss Nr. 2410725).
                <br />
                <br />
                Wenn Sie Fragen zum Experiment oder zu Ihrer Teilnahme haben, können Sie sich jederzeit vor,
                während und nach dem Experiment an die Forscher wenden.
            </p>
            <br />
            <br />
            <br />
            <br />
    </div>
</div>

