<!--Header Section-->
<div style="background-color: lightblue">
    <mat-grid-list cols="3" rowHeight="6:1">
<!--        <mat-grid-list cols="2" rowHeight="12:1">-->
        <mat-grid-tile>
            <img src="./assets/ui_logo.png" style="max-width: 75px; margin-top: 5px;" />
        </mat-grid-tile>
        <mat-grid-tile>
            <h2 >{{ translator("questionnaire") }}: {{ currentTask?.taskNumber }}</h2>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-fab color="warn" aria-label="Example icon button with a delete icon" (click)="clickExitStudy()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="clickPreviousPage()">
                {{ translator("previous") }}
            </button>
        </mat-grid-tile>
        <mat-grid-tile> </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="clickNextPage()">
                {{ translator("next") }}
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<!--Questionnaire-->
<div style="background-color: aliceblue">
    <form>
        <mat-grid-list cols="1" rowHeight="20:1">
            <mat-grid-tile>
                <label>{{ translator("questionnaire_question1") }}</label>
            </mat-grid-tile>
            <mat-grid-tile >
                <input type="radio" [(ngModel)]="formQuestion1" name="formQuestion1" value="very easy" id="g11" />
                <label for="g11">{{ translator("questionnaire_veryEasy") }}</label>
                <input type="radio" [(ngModel)]="formQuestion1" name="formQuestion1" value="easy" id="g12" />
                <label for="g12">{{ translator("questionnaire_easy") }}</label>
                <input type="radio" [(ngModel)]="formQuestion1" name="formQuestion1" value="neutral" id="g13" />
                <label for="g13">{{ translator("questionnaire_neutral") }}</label>
                <input type="radio" [(ngModel)]="formQuestion1" name="formQuestion1" value="difficult" id="g14" />
                <label for="g14">{{ translator("questionnaire_difficult") }}</label>
                <input type="radio" [(ngModel)]="formQuestion1" name="formQuestion1" value="very difficult" id="g15" />
                <label for="g15">{{ translator("questionnaire_veryDifficult") }}</label>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>
