<div style="background-color: aliceblue">
    <!-- Task Description Section -->
    <mat-grid-list cols="1" rowHeight="20:1">
        <mat-grid-tile>
            <p>{{ currentTask?.description }}</p>
        </mat-grid-tile>
    </mat-grid-list>

    <!-- Sketching Section -->
    <div style="position: relative">
        <div>
        <img
            #backgroundImage
            [src]="currentBackgroundImage"
            (load)="onImageLoad()"
            style="width: auto; max-width: 100%; height: auto; display: block; margin: 0 auto"
        /> <!-- style added to resize picture to frame width of button row (enable scrolling without sketching)  -->
    </div>
        <canvas
            #drawingCanvas
            (touchstart)="onTouchStart($event)"
            (touchmove)="onTouchMove($event)"
            (touchend)="onTouchEnd($event)"
            (mousedown)="onMouseDown($event)"
            (mousemove)="onMouseMove($event)"
            (mouseup)="onMouseUp()"
            style="position: absolute; top: 0; left: 0"
        ></canvas>
        
        <!-- Buttons Section -->
        <div style="position: fixed; 
        bottom: 10px; 
        left: 50%; 
        transform: translateX(-50%); 
        display: flex; 
        gap: 5px; 
        z-index: 1000; 
        background: rgba(255, 255, 255, 0.8); 
        padding: 5px 10px; 
        border-radius: 10px;">
            <button class="sheet-button" (click)="changeBackground('sheet1')">
              {{ currentTask?.language === Language.GERMAN ? 'vorher' : 'before' }}
            </button>

            <button class="sheet-button" (click)="changeBackground('sheet2')">
              {{ currentTask?.language === Language.GERMAN ? 'nachher' : 'after' }}
            </button>
           <!-- <button class="sheet-button" (click)="changeBackground('sheet3')">Sheet3</button> -->
        </div>
    </div>
</div>
