<div style="background-color: aliceblue">
    <!--Task Description Section-->
    <mat-grid-list cols="1" rowHeight="20:1">
        <mat-grid-tile>
            <p>{{ currentTask?.description }}</p>
        </mat-grid-tile>
    </mat-grid-list>
    <!--Spreatching Section-->
    <div style="position: relative">
        <img
            *ngIf="currentTask?.language === Language.GERMAN"
            #backgroundImage
            [src]="backgroundImageUrlDE"
            (load)="onImageLoad()"
        />
        <canvas
            #drawingCanvas
            (touchstart)="onTouchStart($event)"
            (touchmove)="onTouchMove($event)"
            (touchend)="onTouchEnd($event)"
            (mousedown)="onMouseDown($event)"
            (mousemove)="onMouseMove($event)"
            (mouseup)="onMouseUp()"
            style="position: absolute; top: 0; left: 0"
        ></canvas>
        <img
            *ngIf="currentTask?.language === Language.ENGLISH"
            #backgroundImage
            [src]="backgroundImageUrlEN"
            style="max-width: 90%"
            (load)="onImageLoad()"
        />
        <canvas
            #drawingCanvas
            (touchstart)="onTouchStart($event)"
            (touchmove)="onTouchMove($event)"
            (touchend)="onTouchEnd($event)"
            (mousedown)="onMouseDown($event)"
            (mousemove)="onMouseMove($event)"
            (mouseup)="onMouseUp()"
            style="position: absolute; top: 0; left: 0"
        ></canvas>
    </div>
</div>
