<!--Header Section-->
<div style="background-color: lightblue">
    <mat-grid-list cols="3" rowHeight="6:1">
        <mat-grid-tile>
            <img src="./assets/ui_logo.png" style="max-width: 75px; margin-top: 5px;" />
        </mat-grid-tile>
        <mat-grid-tile>
            <h2 *ngIf="language === Language.GERMAN">Demographiefragebogen</h2>
            <h2 *ngIf="language === Language.ENGLISH">Demographic questionnaire</h2>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-fab color="warn" aria-label="Example icon button with a delete icon">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="warn" (click)="clickSkipTask()">
                {{ language === Language.GERMAN ? "Aufgabe überspringen" : "Skip Task" }}
            </button></mat-grid-tile
        >
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="clickPreviousPage()">
                {{ language === Language.GERMAN ? "Vorherige Seite" : "Previous Page" }}
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="clickNextPage()">
                {{ language === Language.GERMAN ? "Nächste Seite" : "Next Page" }}
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<!--Demographics-->
<div style="background-color: aliceblue">
    <form>
        <mat-grid-list cols="1" rowHeight="20:1">
            <!-- Geschlecht -->
            <mat-grid-tile *ngIf="language === Language.GERMAN">
                <label>Geschlecht:</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="weiblich" id="weiblich" />
                <label for="weiblich">weiblich</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="männlich" id="männlich" />
                <label for="männlich">männlich</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="non-binär" id="non-binär" />
                <label for="non-binär">non-binär</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="Keine Angabe" id="Keine Angabe" />
                <label for="Keine Angabe">Keine Angabe</label>
            </mat-grid-tile>
            <!-- Gender -->
            <mat-grid-tile *ngIf="language === Language.ENGLISH">
                <label>Gender:</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="female" id="female" />
                <label for="female">female</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="male" id="male" />
                <label for="male">male</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="non-binary" id="non-binary" />
                <label for="non-binary">non-binary</label>
                <input
                    type="radio"
                    [(ngModel)]="gender"
                    name="gender"
                    value="prefer not to say"
                    id="prefer not to say"
                />
                <label for="prefer not to say">prefer not to say</label>
            </mat-grid-tile>

            <!-- Alter -->
            <mat-grid-tile *ngIf="language === Language.GERMAN">
                <label>Alter:</label>
                <input type="radio" [(ngModel)]="age" name="age" value="18-24" id="18-24" />
                <label for="18-24">18-24</label>
                <input type="radio" [(ngModel)]="age" name="age" value="25-30" id="25-30" />
                <label for="25-30">25-30</label>
                <input type="radio" [(ngModel)]="age" name="age" value="30-40" id="30-40" />
                <label for="30-40">30-40</label>
                <input type="radio" [(ngModel)]="age" name="age" value="41-60" id="41-60" />
                <label for="41-60">41-60</label>
                <input type="radio" [(ngModel)]="age" name="age" value=">60" id=">60" />
                <label for=">60">&gt;60</label>
                <input type="radio" [(ngModel)]="age" name="age" value="Keine Angabe" id="Keine Angabe2" />
                <label for="Keine Angabe2">Keine Angabe</label>
            </mat-grid-tile>
            <!-- Age -->
            <mat-grid-tile *ngIf="language === Language.ENGLISH">
                <label>Age:</label>
                <input type="radio" [(ngModel)]="age" name="age" value="18-24" id="ea1" />
                <label for="ea1">18-24</label>
                <input type="radio" [(ngModel)]="age" name="age" value="25-30" id="ea2" />
                <label for="ea2">25-30</label>
                <input type="radio" [(ngModel)]="age" name="age" value="30-40" id="ea3" />
                <label for="ea3">30-40</label>
                <input type="radio" [(ngModel)]="age" name="age" value="41-60" id="ea4" />
                <label for="ea4">41-60</label>
                <input type="radio" [(ngModel)]="age" name="age" value=">60" id="ea5" />
                <label for=">60">&gt;60</label>
                <input type="radio" [(ngModel)]="age" name="age" value="prefer not to say" id="ea6" />
                <label for="ea6">prefer not to say</label>
            </mat-grid-tile>

            <!-- Welche Hand benutzen Sie zum Schreiben? -->
            <mat-grid-tile *ngIf="language === Language.GERMAN">
                <label>Welche Hand benutzen Sie zum Schreiben?</label>
                <input
                    type="radio"
                    [(ngModel)]="leftHandedOrRightHanded"
                    name="leftHandedOrRightHanded"
                    value="links"
                    id="links"
                />
                <label for="links">links</label>
                <input
                    type="radio"
                    [(ngModel)]="leftHandedOrRightHanded"
                    name="leftHandedOrRightHanded"
                    value="rechts"
                    id="rechts"
                />
                <label for="rechts">rechts</label>
            </mat-grid-tile>
            <!-- Which hand do you use for writing? -->
            <mat-grid-tile *ngIf="language === Language.ENGLISH">
                <label>Which hand do you use for writing?</label>
                <input
                    type="radio"
                    [(ngModel)]="leftHandedOrRightHanded"
                    name="leftHandedOrRightHanded"
                    value="left"
                    id="left"
                />
                <label for="left">left</label>
                <input
                    type="radio"
                    [(ngModel)]="leftHandedOrRightHanded"
                    name="leftHandedOrRightHanded"
                    value="right"
                    id="right"
                />
                <label for="right">right</label>
            </mat-grid-tile>

            <!-- Besitzen Sie ein Tablet? -->
            <mat-grid-tile *ngIf="language === Language.GERMAN">
                <label>Besitzen Sie ein Tablet?</label>
                <input type="radio" [(ngModel)]="ownATablet" name="ownATablet" [value]="true" id="Ja1" />
                <label for="Ja1">Ja</label>
                <input type="radio" [(ngModel)]="ownATablet" name="ownATablet" [value]="false" id="Nein1" />
                <label for="Nein1">Nein</label>
            </mat-grid-tile>
            <!-- Do you own a tablet? -->
            <mat-grid-tile *ngIf="language === Language.ENGLISH">
                <label>Do you own a tablet?</label>
                <input type="radio" [(ngModel)]="ownATablet" name="ownATablet" [value]="true" id="yes1" />
                <label for="yes1">Yes</label>
                <input type="radio" [(ngModel)]="ownATablet" name="ownATablet" [value]="false" id="no1" />
                <label for="no1">No</label>
            </mat-grid-tile>

            <!-- Wofür benutzen Sie das Tablet vorwiegend? -->
            <mat-grid-tile *ngIf="ownATablet && language === Language.GERMAN">
                <label>Wofür benutzen Sie das Tablet vorwiegend?</label>
                <input type="radio" [(ngModel)]="useTablet" name="useTablet" value="Internet" id="Internet" />
                <label for="Internet">Internet</label>
                <input type="radio" [(ngModel)]="useTablet" name="useTablet" value="Spiele" id="Spiele" />
                <label for="Spiele">Spiele</label>
                <input type="radio" [(ngModel)]="useTablet" name="useTablet" value="Arbeit" id="Arbeit" />
                <label for="Arbeit">Arbeit</label>
                <input type="radio" [(ngModel)]="useTablet" name="useTablet" value="Bücher" id="Bücher" />
                <label for="Bücher">Bücher</label>
                <input type="radio" [(ngModel)]="useTablet" name="useTablet" value="Andere Media" id="Andere Media" />
                <label for="Andere Media">Andere Media</label>
            </mat-grid-tile>
            <!-- What do you primarily use the tablet for? -->
            <mat-grid-tile *ngIf="ownATablet && language === Language.ENGLISH">
                <label>What do you primarily use the tablet for?</label>
                <input type="radio" [(ngModel)]="useTablet" name="useTablet" value="Internet" id="Internet2" />
                <label for="Internet2">Internet</label>
                <input type="radio" [(ngModel)]="useTablet" name="useTablet" value="Games" id="Games2" />
                <label for="Games2">Games</label>
                <input type="radio" [(ngModel)]="useTablet" name="useTablet" value="Work" id="Work2" />
                <label for="Work2">Work</label>
                <input type="radio" [(ngModel)]="useTablet" name="useTablet" value="Books" id="Books2" />
                <label for="Books2">Books</label>
                <input type="radio" [(ngModel)]="useTablet" name="useTablet" value="Other" id="Other2" />
                <label for="Other2">Other</label>
            </mat-grid-tile>

            <!-- Verwenden Sie Spreadsheets auf einem Tablet? -->
            <mat-grid-tile *ngIf="ownATablet && language === Language.GERMAN">
                <label>Verwenden Sie Tabellenkalkulationsprogramme auf einem Tablet?</label>
                <input type="radio" [(ngModel)]="useSpreadsheets" name="useSpreadsheets" [value]="true" id="ja3" />
                <label for="ja3">Ja</label>
                <input type="radio" [(ngModel)]="useSpreadsheets" name="useSpreadsheets" [value]="false" id="nein3" />
                <label for="nein3">Nein</label>
            </mat-grid-tile>
            <!-- Do you work with spreadsheets on a tablet? -->
            <mat-grid-tile *ngIf="ownATablet && language === Language.ENGLISH">
                <label>Do you work with spreadsheets on a tablet?</label>
                <input type="radio" [(ngModel)]="useSpreadsheets" name="useSpreadsheets" [value]="true" id="yes3" />
                <label for="yes3">Yes</label>
                <input type="radio" [(ngModel)]="useSpreadsheets" name="useSpreadsheets" [value]="false" id="no3" />
                <label for="no3">No</label>
            </mat-grid-tile>

            <!-- Haben Sie Erfahrung mit Spracheingabe? -->
            <mat-grid-tile *ngIf="language === Language.GERMAN">
                <label>Haben Sie Erfahrung mit sprachbasierter Interaktion mit technischen Geräten?</label>
                <input type="radio" [(ngModel)]="anyExperienceVoice" name="anyExperienceVoice" [value]="true" id="ja4" />
                <label for="ja4">Ja</label>
                <input type="radio" [(ngModel)]="anyExperienceVoice" name="anyExperienceVoice" [value]="false" id="nein4" />
                <label for="nein4">Nein</label>
            </mat-grid-tile>
            <!-- Do you have experience working with voice commands? -->
            <mat-grid-tile *ngIf="language === Language.ENGLISH">
                <label>Do you have experience working with voice-based interaction with technical devices?</label>
                <input type="radio" [(ngModel)]="anyExperienceVoice" name="anyExperienceVoice" [value]="true" id="yes4" />
                <label for="yes4">Yes</label>
                <input type="radio" [(ngModel)]="anyExperienceVoice" name="anyExperienceVoice" [value]="false" id="no4" />
                <label for="no4">No</label>
            </mat-grid-tile>

            <!-- Haben Sie Erfahrung mit stiftbasierter Interaktion? -->
            <mat-grid-tile *ngIf="language === Language.GERMAN">
                <label>Haben Sie Erfahrung mit stiftbasierter Interaktion?</label>
                <input type="radio" [(ngModel)]="anyExperiencePen" name="anyExperiencePen" [value]="true" id="ja5" />
                <label for="ja5">Ja</label>
                <input type="radio" [(ngModel)]="anyExperiencePen" name="anyExperiencePen" [value]="false" id="nein5" />
                <label for="nein5">Nein</label>
            </mat-grid-tile>
            <!-- Do you have experience working with pen-enabled interaction? -->
            <mat-grid-tile *ngIf="language === Language.ENGLISH">
                <label>Do you have experience working with pen-enabled interaction?</label>
                <input type="radio" [(ngModel)]="anyExperiencePen" name="anyExperiencePen" [value]="true" id="yes5" />
                <label for="yes5">Yes</label>
                <input type="radio" [(ngModel)]="anyExperiencePen" name="anyExperiencePen" [value]="false" id="no5" />
                <label for="no5">No</label>
            </mat-grid-tile>

            <!-- Verwenden Sie Spreadsheets auf einem anderen multi-touch-fähigem Gerät? -->
            <mat-grid-tile *ngIf="language === Language.GERMAN">
                <label>Verwenden Sie Tabellenkalkulationsprogramme auf einem anderen multi-touch-fähigem Gerät?</label>
                <input
                    type="radio"
                    [(ngModel)]="useSpreadsheetsMultiTouch"
                    name="useSpreadsheetsMultiTouch"
                    [value]="true"
                    id="ja5"
                />
                <label for="ja5">Ja</label>
                <input
                    type="radio"
                    [(ngModel)]="useSpreadsheetsMultiTouch"
                    name="useSpreadsheetsMultiTouch"
                    [value]="false"
                    id="nein5"
                />
                <label for="nein5">Nein</label>
            </mat-grid-tile>
            <!-- Do you work with spreadsheets on another multi-touch-enabled device? -->
            <mat-grid-tile *ngIf="language === Language.ENGLISH">
                <label>Do you work with spreadsheets on another multi-touch-enabled device?</label>
                <input
                    type="radio"
                    [(ngModel)]="useSpreadsheetsMultiTouch"
                    name="useSpreadsheetsMultiTouch"
                    [value]="true"
                    id="yes6"
                />
                <label for="yes5">Yes</label>
                <input
                    type="radio"
                    [(ngModel)]="useSpreadsheetsMultiTouch"
                    name="useSpreadsheetsMultiTouch"
                    [value]="false"
                    id="no6"
                />
                <label for="no5">No</label>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>
