<!--Header Section-->
<div style="background-color: lightblue">
    <mat-grid-list cols="3" rowHeight="6:1">
        <mat-grid-tile>
            <img src="./assets/ui_logo.png" style="max-width: 75px; margin-top: 5px;" />
        </mat-grid-tile>
        <mat-grid-tile>
            <h2>{{translator("header")}}</h2>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-fab color="warn" aria-label="Example icon button with a delete icon">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            </mat-grid-tile
        >
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="clickPreviousPage()">
                {{ translator("previous") }}
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="clickNextPage()">
                {{ translator("next") }}
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<!--Demographics-->
<div style="background-color: aliceblue">
    <form>
        <mat-grid-list cols="1" rowHeight="20:1">
            <!-- Gender -->
            <mat-grid-tile>
                <label>{{translator("gender")}}:</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="female" id="female" />
                <label for="female">{{ translator("female") }}</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="male" id="male" />
                <label for="male">{{ translator("male") }}</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="non-binary" id="non-binary" />
                <label for="non-binary">{{ translator("nonbinary") }}</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="prefer not to say" id="prefer not to say" />
                <label for="prefer not to say">{{ translator("noanswer") }}</label>
            </mat-grid-tile>

            <!-- Age -->
            <mat-grid-tile>
                <label>{{translator("age")}}:</label>
                <input type="radio" [(ngModel)]="age" name="age" value="18-29" id="18-29" />
                <label for="ea1">18-29</label>
                <input type="radio" [(ngModel)]="age" name="age" value="30-39" id="30-39" />
                <label for="ea2">30-39</label>
                <input type="radio" [(ngModel)]="age" name="age" value="40-49" id="40-49" />
                <label for="ea3">40-49</label>
                <input type="radio" [(ngModel)]="age" name="age" value="50-59" id="50-59" />
                <label for="ea4">50-59</label>
                <input type="radio" [(ngModel)]="age" name="age" value="60-69" id="60-69" />
                <label for="60-69">60-69</label>
                <input type="radio" [(ngModel)]="age" name="age" value=">70" id=">70" />
                <label for=">70">&gt;70</label>
                <input type="radio" [(ngModel)]="age" name="age" [value]="translator('noanswer')" id="no age" />
                <label for="en no age">{{ translator("noanswer") }}</label>
            </mat-grid-tile>

            <!-- Which hand do you use for writing? -->
            <mat-grid-tile>
                <label>{{translator("hand")}}</label>
                <input
                    type="radio"
                    [(ngModel)]="leftHandedOrRightHanded"
                    name="leftHandedOrRightHanded"
                    value="left"
                    id="left"
                />
                <label for="left">{{translator("left")}}</label>
                <input
                    type="radio"
                    [(ngModel)]="leftHandedOrRightHanded"
                    name="leftHandedOrRightHanded"
                    value="right"
                    id="right"
                />
                <label for="right">{{translator("right")}}</label>
            </mat-grid-tile>

        <mat-grid-tile>
            <label>{{translator("nativeLanguage")}}</label>
            <input
                type="text"
                [(ngModel)]="nativeLanguage"
                name="nativeLanguage"
                [placeholder]="translator('placeholder')"
            />
        </mat-grid-tile>

            <mat-grid-tile>
                <label>{{translator("experienceVoice")}}</label>
            </mat-grid-tile>
            <mat-grid-tile>
                <input type="radio" [(ngModel)]="anyExperienceVoice" name="anyExperienceVoice" value="none" id="e11" />
                <label for="e11">{{translator("none")}}</label>
                <input type="radio" [(ngModel)]="anyExperienceVoice" name="anyExperienceVoice" value="a little" id="e12" />
                <label for="e12">{{translator("little")}}</label>
                <input type="radio" [(ngModel)]="anyExperienceVoice" name="anyExperienceVoice" value="a lot" id="e13" />
                <label for="e13">{{translator("lot")}}</label>
            </mat-grid-tile>

            <mat-grid-tile>
                <label>{{translator("experienceTablet")}}</label>
            </mat-grid-tile>
            <mat-grid-tile>
                <input type="radio" [(ngModel)]="anyExperienceTablet" name="anyExperienceTablet" value="none" id="e21" />
                <label for="e21">{{translator("none")}}</label>
                <input type="radio" [(ngModel)]="anyExperienceTablet" name="anyExperienceTablet" value="a little" id="e22" />
                <label for="e22">{{translator("little")}}</label>
                <input type="radio" [(ngModel)]="anyExperienceTablet" name="anyExperienceTablet" value="a lot" id="e23" />
                <label for="e23">{{translator("lot")}}</label>
            </mat-grid-tile>

            <mat-grid-tile>
                <label>{{translator("experiencePen")}}</label>
            </mat-grid-tile>
            <mat-grid-tile>
                <input type="radio" [(ngModel)]="anyExperiencePen" name="anyExperiencePen" value="none" id="e31" />
                <label for="e31">{{translator("none")}}</label>
                <input type="radio" [(ngModel)]="anyExperiencePen" name="anyExperiencePen" value="a little" id="e32" />
                <label for="e32">{{translator("little")}}</label>
                <input type="radio" [(ngModel)]="anyExperiencePen" name="anyExperiencePen" value="a lot" id="e33" />
                <label for="e33">{{translator("lot")}}</label>
            </mat-grid-tile>

            <mat-grid-tile>
                <label>{{translator("experienceSpreadsheets")}}</label>
            </mat-grid-tile>
            <mat-grid-tile>
                <input type="radio" [(ngModel)]="anyExperienceSpreadsheet" name="anyExperienceSpreadsheet" value="none" id="e41" />
                <label for="e41">{{translator("none")}}</label>
                <input type="radio" [(ngModel)]="anyExperienceSpreadsheet" name="anyExperienceSpreadsheet" value="a little" id="e42" />
                <label for="e42">{{translator("little")}}</label>
                <input type="radio" [(ngModel)]="anyExperienceSpreadsheet" name="anyExperienceSpreadsheet" value="a lot" id="e43" />
                <label for="e43">{{translator("lot")}}</label>
            </mat-grid-tile>

        </mat-grid-list>
    </form>
</div>
