<!--Header Section-->
<div style="background-color: lightblue">
    <mat-grid-list cols="3" rowHeight="6:1">
        <mat-grid-tile>
            <img src="./assets/UDE_logo.png" style="max-width: 150px" />
        </mat-grid-tile>
        <mat-grid-tile *ngIf="currentTask?.group !== Group.P">
            <h2 *ngIf="currentTask?.language === Language.GERMAN">
                Aufgabe {{ currentTask!.taskNumber - 2 }} von 18: {{ currentTask?.title }}
            </h2>
            <h2 *ngIf="currentTask?.language === Language.ENGLISH">
                Task {{ currentTask!.taskNumber - 2 }} of 18: {{ currentTask?.title }}
            </h2>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="currentTask?.group === Group.P">
            <h2 *ngIf="currentTask?.language === Language.GERMAN">Spielewiese: {{ currentTask?.title }}</h2>
            <h2 *ngIf="currentTask?.language === Language.ENGLISH">Warm-up: {{ currentTask?.title }}</h2>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-fab color="warn" aria-label="Example icon button with a delete icon" (click)="clickExitStudy()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="clickResetPage()">
                {{ currentTask?.language === Language.GERMAN ? "Zurücksetzen" : "Reset" }}
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="clickPreviousPage()">
                {{ currentTask?.language === Language.GERMAN ? "Vorherige Seite" : "Previous Page" }}
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="clickNextPage()">
                {{ currentTask?.language === Language.GERMAN ? "Nächste Seite" : "Next Page" }}
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<app-sketch />
